{% extends 'base.html.twig' %}

{% block body %}

<h2>Liste des Candidats | <small> <a href="{{ path('Ajouter')}}">Ajouter</a>
 {{ form_start(form)}}
 {{ form_widget(form)}}
 {{ form_end(form) }}
</small></h2>

<table class="table table-hover table-striped" border="1">

<table class="table table-hover table-striped" border="1">
<thead>
<tr>
<th>#</th>
<th>Nom & Prénom </th>
<th> Contenu </th>
<th> Date </th>
<th></th>
</thead>
<tbody>
{% for candidat in lesCandidats %}
<tr>
<td>{{candidat.id}}</td>
<td>{{candidat.candidat | upper}}</td>
<td>{{candidat.date | date('d/m/Y')}}</td>
<td>{{candidat.contenu}}</td>
<td>
<a class="btn btn-primary" href="#">Voir</a>
<a class="btn btn-info" href="{{ path('edit_user', {'id':candidat.id }) }}">Modifier</a>
<a class="btn btn-danger" href="{{ path('cand_delete', {'id':candidat.id }) }}"
onclick="return confirm('Are you sure to delete!{{ candidat.candidat 
}}')">Supprimer</a>
</td>
</tr>
{% else %}
<tr>
<td colspan="5">Aucun abonné</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}